.capital {
  color: aquamarine;
}

.cities {
  background-color: palevioletred;
  padding: 20px;
  border: 1px solid black;
}

.attraction {
  text-transform: capitalize;
  color: black;
  font-size: 14px;
}

.attractionsTitle {
  font-size: 18px;
}

.smallCityItem {
  width: calc((100% - 20px) / 2);
}

.largeCityItem {
  width: 100%;
}

.delete-city,
.edit-city {
  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
  background-color: aquamarine;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 20px;
  width: 100px;
  margin-left: 10px;
}

.delete-city:active,
.edit-city:active {
  box-shadow: none;
  transform: translateY(4px);
}
