*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(242, 242, 242);
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  gap: 30px;
}

.content :nth-child(2) .icons-container {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content :nth-child(2) .icons {
  width: 200px;
}
.finance {
  width: 150px;
}

@media screen and (max-width: 800px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }
  .finder {
    align-items: center;
    margin-left: auto;
    margin-bottom: auto;
  }
  .main-menu a {
    display: none;
  }

  .button-1 {
    display: none;
  }
  .menu-button-header {
    display: inline-flex;
    background-color: white;
    border: none;
  }
}
@media screen and (max-width: 299px) {
}

/* MOBILE first pavyzdys */
@media screen and (min-width: 300px) {
}
@media screen and (min-width: 500px) {
}
