*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(242, 242, 242);
  font-family: Arial, Helvetica, sans-serif;
}

.mini-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0px;
  align-items: center;
}
.menu-button-header {
  display: none;
}
.hamburger {
  width: 50px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.button-1 {
  background-color: #1200ff;
  border-radius: 50px;
  padding: 13px 30px 11px;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.main-header {
  background-color: white;
}
.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.main-navigation {
  display: flex;
  align-items: center;
}
.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 0;
}
.main-menu a {
  padding: 5px 15px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.main-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  gap: 30px;
}

.banner {
  background-color: white;
  background-image: url(https://codeacademylt.sharepoint.com/sites/Front-endFEU7/Shared%20Documents/General/banner.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 70% 100%;
}

.text {
  color: rgb(255, 0, 233);
  font-size: 24px;
  font-weight: bold;
  padding-left: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.text-1 {
  color: black;
}

.banner-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

h1 {
  font-size: 75px;
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 20px;
}

/* .all-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
} */
/* .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
} */

.finder {
  height: 520px;
  background-color: white;
  /* display: grid;
  grid-template-columns: 1fr; */
  padding: 40px;
  position: sticky;
  top: 20px;
}

.programs {
  background-color: white;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding: 40px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px;
}

.about {
  font-size: 16px;
  line-height: 25px;
}

.choose {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

h2 {
  margin: 0;
  grid-template-rows: 1fr;
}

h3 {
  font-size: 15px;
  font-weight: 550;

  margin: 0;
  margin-bottom: 10px;
}
.time {
  margin: 0;
}

select {
  background-color: rgb(242, 242, 242);
  color: black;
  border-radius: 20px;
  border: none;

  /* padding-right: 5px; neveikia */
  padding-bottom: 12px;
  padding-left: 20px;
  padding-top: 12px;

  width: 100%;

  font-size: 10px;
  font-weight: 600;
}
.button {
  border: 1px solid blue;
  color: blue;
  text-align: center;

  border-radius: 20px;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.checkbox {
  margin: 0;
  height: 18px;
  width: 18px;
  border: 1px;
}

label {
  padding-left: 5px;
}
.program-icon {
  width: 100px;
}
.icon {
  width: 100%;
}
.programs {
  background-color: white;
}
.icons-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: auto;
}

.icons {
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

h4 {
  font-size: 12px;
  padding-left: 10px;
  font-weight: 600;
  width: 100px;
  margin: 0px;
}

.right-icon {
  background-color: rgb(255, 0, 233);
  color: white;
  padding: 10px;

  text-align: center;
  border-radius: 20px;
  font-size: 13px;
  margin-right: -55px;
}

.right-pink {
  display: flex;
  justify-content: end;
  margin-left: 20px;
}

.content :nth-child(2) .icons-container {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content :nth-child(2) .icons {
  width: 200px;
}
.finance {
  width: 150px;
}

@media screen and (max-width: 1100px) {
  .all-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .finder {
    align-items: center;
    margin-left: auto;
    margin-bottom: auto;
  }
  .main-menu a {
    display: none;
  }

  .button-1 {
    display: none;
  }
  .menu-button-header {
    display: inline-flex;
    background-color: white;
    border: none;
  }
}
@media screen and (max-width: 800px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }
  .finder {
    align-items: center;
    margin-left: auto;
    margin-bottom: auto;
  }
  .main-menu a {
    display: none;
  }

  .button-1 {
    display: none;
  }
  .menu-button-header {
    display: inline-flex;
    background-color: white;
    border: none;
  }
}
@media screen and (max-width: 299px) {
}

/* MOBILE first pavyzdys */
@media screen and (min-width: 300px) {
}
@media screen and (min-width: 500px) {
}
