.banner {
  background-color: white;
  background-image: url(https://codeacademylt.sharepoint.com/sites/Front-endFEU7/Shared%20Documents/General/banner.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 70% 100%;
}

.text {
  color: rgb(255, 0, 233);
  font-size: 24px;
  font-weight: bold;
  padding-left: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.text-1 {
  color: black;
}
