.programs {
  background-color: white;
  /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 40px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px;
}

.programs {
  background-color: white;
  position: relative;
}
.right-icon {
  background-color: rgb(255, 0, 233);
  color: white;
  padding: 12px 17px 11px;

  text-align: center;
  border-radius: 20px;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 1.11;

  text-transform: uppercase;
  width: fit-content;
  display: inline-block;
  position: absolute;
  right: -10px;
  top: 15px;
}

.program-icon {
  width: 100px;
}

.icon {
  width: 100%;
}
.icons-container {
  margin-top: auto;
}

.icons {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

span {
  font-size: 12px;
  padding-left: 10px;
  font-weight: 600;

  text-transform: uppercase;
  margin: 0px;
}
.mini-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0px;
  align-items: center;
}

.mini-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0px;
  align-items: center;
}
.about {
  font-size: 16px;
  line-height: 25px;
}
.mini-icons-logo {
  width: 10px;
}
